prototypes/Models/FinBERT/data/
prototypes/Models/FinBERT/distilbert-german-finance-mlm/

prototypes/Models/FinBERT/export_aic/
prototypes/Models/FinBERT/regression_finance_finetune_english_bert_distil/
prototypes/Models/FinBERT/regression_finance_finetune_gbert_distil/
prototypes/Models/FinBERT/regression_gbert/
prototypes/Models/FinBERT/regression_gbert_distil/


portfolio-management/ 

torch-env/
venv/
portfolio-management/

env/
.env

data/

*.db

*.csv