ML/Models/FinBERT/data/
ML/Models/FinBERT/distilbert-german-finance-mlm/

ML/Models/FinBERT/export_aic/
ML/Models/FinBERT/regression_finance_finetune_english_bert_distil/
ML/Models/FinBERT/regression_finance_finetune_gbert_distil/
ML/Models/FinBERT/regression_gbert/
ML/Models/FinBERT/regression_gbert_distil/

torch-env/
venv/
portfolio-management/

env/
.env

data/

*.db

*.csv